<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga nas redes sociais</h4>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a target="_blank" href="https://github.com/Darllan1L" class="icoGit">
                            <i class="fa fa-github-square" aria-hidden="true"></i></a>
                    </li>
                    
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/darllan-lopes-a5104419a/" class="icoLinkedin">                            <i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                    </li>

                </ul>

            </div>
        </div>
    </div>
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> &copy; 2022 copyright: </span>
        <a class="text-light" target="_blank" href="https://brazil.generation.org/">Generation Brazil</a>

    </div>

</footer>